<h3>Edit question</h3>

<%= form_with model: @question, url: question_path, method: :put do |form| %>
  <%= render 'shared/errors', resource: @question %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_field :body, id: :question_body %><br>  
  </p>

  <p><%= form.submit %></p>
<% end %>

