<h3>Question</h3>

<%= form_with model: @question, url: question_path do |f| %>
  <%= f.label @question.body %><br>
  <%= f.label @question.test_id %><br>

  <%= link_to "Редактировать вопрос", edit_question_path(@question) %><br>
  <%= link_to "Назад", test_questions_path(@test) %><br>
<% end %>
