<p id="notice"><%= notice %></p>

<h1><%= t('.badges') %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t('.badge') %></th>
      <th><%= t('.name') %></th>
    </tr>
  </thead>

  <tbody>
    <% @badges.each do |badge| %>
      <tr>
        <td><%= image_tag(badge.img_url) %></td>
        <td><%= badge.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.back'), tests_path %>
