<h3><%= t('.header') %></h3>
<table class="table">
    <thead>
      <th><%= t('.title') %></th>
      <th><%= t('.level') %></th>
      <th><%= t('.questions_count') %></th>
      <th><%= t('.actions') %></th>
    </thead>
    <%= render @tests %>
</table>
