<h3><%= t('.header') %></h3>
<table class="table">
    <thead>
      <th class="sort-by-title pointer">
        <%= t('.title') %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %> 
      </th>
      <th><%= t('.level') %></th>
      <th><%= t('.questions_count') %></th>
      <th><%= t('.actions') %></th>
    </thead>
    <%= render @tests %>
</table>

<%= link_to "Задать вопрос администратору", new_feedback_path %></br>
<%= link_to "Просмотреть достижения", badges_path %>
