<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <p class="nav user">
        <%= t('application.welcome', email: current_user.email) %> 
        <%= link_to t('application.logout'), destroy_user_session_path, method: :delete %>
      </p>
      <%= flash.now[:notice] = "Привет, #{current_user.first_name} #{current_user.last_name}!" %>
    <% end %>
    <%= render 'shared/flash' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
